@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

.subHeadings{
    font-family: 'Space Grotesk', sans-serif;
}
.subHeadingsBackground :hover{
    border-bottom: 5px solid #ea2a6b !important;
    padding-bottom: 10px;
    margin-bottom: -17px !important;
    color: #ea2a6b;
}